<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_user_session_path(), method: :delete   %> 

<% form_tag data_groups_path %>
<% @data_groups.each do |data_group| %>
    <p>here</p>
<% end %>
