@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

.bg-background {
    background-color: theme('themeColors.background');
}
.bg-android-green:hover {
    background-color: theme('themeColors.android-green');
}
.bg-blue-munsell {
    background-color: theme('themeColors.blue-munsell');
}
.bg-indigo-dye {
    background-color: theme('themeColors.indigo-dye');
}
.bg-carrot-orange {
    background-color: theme('themeColors.carrot-orange');
}
.important-text {
    color: theme('themeColors.carrot-orange')
}
.main-text {
    color: theme('themeColors.indigo-dye');
}
.light-text {
    color: theme('themeColors.blue-munsell');
}
a {
    color: theme('themeColors.blue-munsell');
}
a:hover {
    color: theme('themeColors.android-green');
}
body {
    @apply text-3xl;
}

.green-accent {
    color: theme('themeColors.android-green');
}
.form-label {
    @apply main-text;
    @apply text-5xl;
    @apply m-2;
}
.form-label:focus {
    @apply outline-none;
    @apply shadow-outline;
}
.form-input {
    @apply shadow;
    @apply h-full;
    @apply appearance-none;
    @apply border;
    @apply rounded;
    @apply py-2;
    @apply px-3;
    @apply text-gray-700;
    @apply leading-tight;
}
.important-button {
    background-color: theme('themeColors.indigo-dye');
    @apply text-white;
    
    @apply py-2;
    @apply px-4;
    @apply rounded;
}
.important-button:focus {
    @apply outline-none;
    @apply shadow-outline;
}
.important-button:hover {
    background-color: theme('themeColors.android-green');
}
@screen xl {
    .form-label {
        @apply text-xl font-bold;
    }
    body {
        @apply text-sm;
    }
    .important-button {
        @apply font-bold;
    }
}